---
apiVersion: v1
kind: Service
metadata:
  name: proxmox
spec:
  ports:
    - port: 8006
      protocol: TCP
      targetPort: 8006
      name: https
---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: proxmox
  labels:
    kubernetes.io/service-name: proxmox
addressType: FQDN
ports:
- name: https
  protocol: TCP
  port: 8006
endpoints:
- addresses:
  - "proxmox.server.internal"
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: proxmox
  annotations:
    external-dns.alpha.kubernetes.io/hostname: &host proxmox.${SECRET_DOMAIN}
    gethomepage.dev/href: "https://proxmox.${SECRET_DOMAIN}"
    gethomepage.dev/group: Infrastructure
    gethomepage.dev/name: Proxmox
    gethomepage.dev/icon: proxmox.svg
    gethomepage.dev/enabled: 'true'
    gethomepage.dev/pod-selector: ""
spec:
  hostnames:
    - *host
  parentRefs:
  - group: gateway.networking.k8s.io
    kind: Gateway
    name: envoy-internal
    namespace: network
    sectionName: https
  rules:
  - backendRefs:
    - group: ""
      kind: Service
      name: proxmox
      namespace: network
      port: 8006
