---
apiVersion: v1
kind: Service
metadata:
  name: truenas
spec:
  ports:
    - port: 80
      protocol: TCP
      targetPort: 80
      name: http
---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: truenas
  labels:
    kubernetes.io/service-name: truenas
addressType: FQDN
ports:
- name: http
  protocol: TCP
  port: 80
endpoints:
- addresses:
  - "truenas.server.internal"
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: truenas
  annotations:
    gethomepage.dev/href: "https://truenas.${SECRET_DOMAIN}"
    gethomepage.dev/enabled: 'true'
    gethomepage.dev/group: Home
    gethomepage.dev/name: TrueNAS
    gethomepage.dev/icon: truenas.svg
    gethomepage.dev/app: "envoy-gateway"
    gethomepage.dev/widget.url: https://truenas.server.internal
    gethomepage.dev/widget.key: '{{HOMEPAGE_VAR_TRUENAS_TOKEN}}'
    gethomepage.dev/widget.enablePools: true
spec:
  hostnames:
    - truenas.${SECRET_DOMAIN}
  parentRefs:
  - group: gateway.networking.k8s.io
    kind: Gateway
    name: envoy-internal
    namespace: network
    sectionName: https
  rules:
  - backendRefs:
    - group: ""
      kind: Service
      name: truenas
      namespace: network
      port: 80