---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app immich-databases
  namespace: &namespace self-hosted
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  interval: 1h
  path: ./kubernetes/apps/self-hosted/immich/cluster
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  dependsOn:
    - name: dragonfly
      namespace: database
    - name: cnpg-crds
      namespace: database
    - name: openebs
      namespace: storage
  postBuild:
    substitute:
      APP: immich
      DRAGONFLY_REQUESTS_MEMORY: 512Mi
      CNPG_IMAGE: ghcr.io/immich-app/postgres
      # renovate: datasource=docker depName=cloudnative-pg/postgresql
      CNPG_VERSION: 18-vectorchord0.5.3
  components:
    # nobackup for init with no prior backups...
    # - ../../../../components/cnpg/nobackup
    - ../../../../components/cnpg/backup
    - ../../../../components/dragonfly
  healthChecks:
    - apiVersion: &dragonflyVersion dragonflydb.io/v1alpha1
      kind: &dragonflyKind Dragonfly
      name: dragonfly-immich
      namespace: *namespace
    - apiVersion: &postgresVersion postgresql.cnpg.io/v1
      kind: &postgresKind Cluster
      name: postgres-immich
      namespace: *namespace
  healthCheckExprs:
    - apiVersion: *dragonflyVersion
      kind: *dragonflyKind
      failed: status.phase != 'ready' && status.phase != 'Ready'
      current: status.phase == 'ready' || status.phase == 'Ready'
    - apiVersion: *postgresVersion
      kind: *postgresKind
      failed: status.conditions.filter(e, e.type == 'Ready').all(e, e.status == 'False')
      current: status.conditions.filter(e, e.type == 'Ready').all(e, e.status == 'True')
  timeout: 5m
  decryption:
    provider: sops
    secretRef:
      name: sops-age
  patches:
    - target:
        kind: Cluster
      patch: |
        apiVersion: postgresql.cnpg.io/v1
        kind: Cluster
        metadata:
          name: postgres-${APP}
        spec:
          postgresUID: 999
          postgresGID: 999
          bootstrap:
            initdb:
              database: immich
              owner: immich-postgres
              secret:
                name: immich-db
              postInitApplicationSQL:
                - CREATE EXTENSION IF NOT EXISTS vchord CASCADE;
          managed:
            roles:
            - name: immich-postgres
              ensure: present
              passwordSecret:
                name: immich-db
              login: true
              superuser: true
          postgresql:
            parameters:
              max_connections: "1000"
              shared_buffers: 2GB
            shared_preload_libraries:
              - "vchord.so"
          resources:
            requests:
              cpu: 50m
              memory: 2Gi
            limits:
              memory: 4Gi
          # bootstrap:
          #   recovery:
          #     recoveryTarget:
          #       targetTime: "2025-05-23 19:00:00.000000-05:00"
---
# yaml-language-server: $schema=https://schemas.tholinka.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app immich
  namespace: &namespace self-hosted
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  interval: 1h
  dependsOn:
    - name: immich-databases
  path: ./kubernetes/apps/self-hosted/immich/app
  components:
    - ../../../../components/volsync
    - ../../../../components/ext-auth
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 500Gi
      VOLSYNC_ACCESSMODES: ReadWriteMany
      VOLSYNC_STORAGECLASS: longhorn-ultra-fast
      VOLSYNC_SNAPSHOTCLASS: longhorn
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  decryption:
    provider: sops
    secretRef:
      name: sops-age