---
# yaml-language-server: $schema=$schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app prowlarr
  namespace: &namespace media
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  interval: 1h
  path: ./kubernetes/apps/media/prowlarr/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  dependsOn:
    - name: longhorn
      namespace: storage
  components:
    - ../../../../components/volsync
    - ../../../../components/ext-auth
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 1Gi
  decryption:
    provider: sops
    secretRef:
      name: sops-age