---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app atuin-databases
  namespace: &namespace self-hosted
spec:
  interval: 1h
  path: ./kubernetes/apps/self-hosted/atuin/cluster
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  dependsOn:
    - name: cnpg-crds
      namespace: database
    - name: openebs
      namespace: storage
  postBuild:
    substitute:
      APP: atuin
      # renovate: datasource=docker depName=ghcr.io/cloudnative-pg/postgresql
      CNPG_VERSION: 17.6-bookworm
  components:
    - ../../../../components/cnpg/backup
  healthChecks:
    - apiVersion: &postgresVersion postgresql.cnpg.io/v1
      kind: &postgresKind Cluster
      name: postgres-atuin
      namespace: *namespace
  healthCheckExprs:
    - apiVersion: *postgresVersion
      kind: *postgresKind
      failed: status.conditions.filter(e, e.type == 'Ready').all(e, e.status == 'False')
      current: status.conditions.filter(e, e.type == 'Ready').all(e, e.status == 'True')
  timeout: 5m
  decryption:
    provider: sops
    secretRef:
      name: sops-age
  patches:
    - target:
        kind: Cluster
      patch: |
        apiVersion: postgresql.cnpg.io/v1
        kind: Cluster
        metadata:
          name: postgres-${APP}
        spec:
          bootstrap:
            initdb:
              database: atuin
              owner: atuin-postgres
              secret:
                name: atuin-db
          managed:
            roles:
            - name: atuin-postgres
              ensure: present
              passwordSecret:
                name: atuin-db
              login: true
              superuser: true
          # bootstrap:
          #   recovery:
          #     recoveryTarget:
          #       targetTime: "2025-05-23 19:00:00.000000-05:00"
---
# yaml-language-server: $schema=https://schemas.tholinka.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app atuin
  namespace: &namespace self-hosted
spec:
  interval: 1h
  dependsOn:
    - name: atuin-databases
  path: ./kubernetes/apps/self-hosted/atuin/app
  postBuild:
    substitute:
      APP: *app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  decryption:
    provider: sops
    secretRef:
      name: sops-age